* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family:'Roboto';
}

/* TOP SECTION */
.top {
    background-color: #1f372b;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    font-size: 24px;
    /* font-weight: 700; */
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.header-img {
    max-height: 50px;
    max-width: 250px;
    /* background-color: #86bc50; */
    border-radius: 2px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 20px;
    padding: 100px 0;
}

.intro-text {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
    justify-content: center;
}

.main-image {
    flex: 1;
    max-height: 250px;
    height: auto;
    object-fit:contain;
    border-radius: 5px;
}

.page-title {
    font-size: 48px;
    font-weight: 900;
}

.page-description {
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 15px;
}

a, a:active {
    text-decoration: none;
    color: inherit;
}

.intro-text button {
    background-color: #229e4b;
    color: #F9FAF8;
    padding: 4px 22px;
    border-radius: 7px;
    border: none;
    margin: 10px 0;
    font-size: 15px;
}

/* INFO SECTION */

.info {
    flex: 1;
    display: flex;
    /* text-align: center; */
    justify-content: center;
}

.info-container {
    width: 70%;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    flex-direction: column;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
}

.images {
    display: flex;
    gap: 5px;
}

.fiat-image {
    height: 200px;
    width: 200px;
    border: 4px solid #1f372b;
    border-radius: 10px;

}

/* QUOTE SECTION */

.quote {
    background-color: #1f372b;
    flex: 1;
}

/* SIGN UP SECTION */

.signup {
    background-color: #339061;
    /* flex: 1 0 auto; */
    flex: 1;
}

/* FOOTER */

footer {
    background-color: black;
}
