* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family:'Roboto';
}

/* TOP SECTION */
.top {
    background-color: #1f372b;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    font-size: 24px;
    /* font-weight: 700; */
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.header-img {
    max-height: 50px;
    max-width: 250px;
    /* background-color: #86bc50; */
    border-radius: 2px;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 20px;
    padding: 100px 0;
}

.intro-text {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
    justify-content: center;
}

.main-image {
    flex: 1;
    max-height: 250px;
    height: auto;
    object-fit:contain;
    border-radius: 5px;
}

.page-title {
    font-size: 48px;
    font-weight: 900;
}

.page-description {
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 15px;
}

a, a:active {
    text-decoration: none;
    color: inherit;
}

.intro-text button {
    background-color: #229e4b;
    color: #F9FAF8;
    padding: 4px 22px;
    border-radius: 7px;
    border: none;
    margin: 10px 0;
    font-size: 15px;
}

/* INFO SECTION */

.info {
    flex: 1;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    /* background-color: rgb(216, 216, 216); */
}

.info-container {
    width: 70%;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    padding: 65px 0;
    flex-direction: column;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1f372b;
    margin-bottom: 50px;
}

.images {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.fiat-info {
    text-align: center;
    font-size: 18px;
    color: rgb(46, 45, 45);
    max-width: 250px;
    font-weight: 500;
    margin: auto;
}

.fiat-image {
    height: 250px;
    width: 250px;
    border: 4px solid #1f372b;
    border-radius: 10px;
    object-fit: fill;

}

/* QUOTE SECTION */

.quote {
    background-color: #E5E7EB;
    flex: 1;
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 55%;
    padding: 100px 0;
    color: #2b371f;

}

.quote-p {
    text-align: left;
    font-size: 36px;
    font-weight: 300;
}

.quote-a {
    text-align: right;
    font-size: 25px;
    margin-right: 40px;
}


/* SIGN UP SECTION */
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.signup-container {
    display: flex;
    justify-content: space-between;
    padding: 45px 130px;
    width: 55%;
    height: 40%;
    background-color: #339061;
    border-radius: 8px;
    color: white;
}

.signup-container button{
    background-color: #229e4b;
    color: #F9FAF8;
    padding: 4px 22px;
    border-radius: 7px;
    border: none;
    margin: 10px 0;
    font-size: 15px;
}

.action-title {
    font-size: 23px;
    font-weight: 800;
}

.action-text {
    font-size: 20px;
    font-weight: 300;
}

/* FOOTER */

footer {
    background-color: black;
}
